/* custom styles can go here */
.big, .left {
  text-align: left;
}

.list-none ul {
  list-style: none;
  margin: 0;
}

.center {
  text-align: center;
}

section img {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

section pre {
  box-shadow: none !important;
}
section pre code {
  min-height: 600px;
}

section.flex {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

section.img img {
  max-height: 600px;
}

section.aligntop *, section.aligntop {
  padding-top: 0;
  margin-top:0;
}
